body {
    margin: 0;
}

#barestho-widget {
    font-family: 'Poppins', 'Ubuntu', 'sans-serif';
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: none;
    max-height: 95%;
    width: 360px;
}

@media (max-width: 450px) {
    #barestho-widget {
        width: 100%;
        height: 100%;
        box-shadow: none;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: 0px;
        top: 0;
    }
}

#barestho-widget.modal {
    position: fixed;
    top: 0;
    left: 0;
}

#barestho-widget.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#barestho-widget.modal::before {
    content: ' ';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.353);
    z-index: 998;
}
