body {
    margin: 0;
}

#barestho-widget {
    font-family: 'Poppins', 'Ubuntu', 'sans-serif';
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: none;
    width: 360px;
    max-height: 95%;

}

@media (max-width: 450px) {
    #barestho-widget {
        width: 100%;
        max-height: 100%;
        box-shadow: none;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: 0px;
        top: 0;
        overflow-y: scroll;

    }
}
