body {
    margin: 0;
    background-color: aqua;
}

#barestho-widget {
    font-family: 'Poppins', 'Ubuntu', 'sans-serif';
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: none;
    width: 360px;
    max-height: 95%;
    z-index: 9999;
}

@media (max-width: 450px) {
    #barestho-widget {
        width: 100%;
        min-height: 100vh;
        box-shadow: none;
        right: 0;
        bottom: 0;
        border-radius: 0px;
        overflow: auto;
        position: fixed;
        z-index: 9999;
    }
}
